<!DOCTYPE html>
<html>

<head>
    <title>Main Database</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    .mybutton {
        background-color: #f51313; 
        color: white;    
        border: none;
        border-radius:2px;
        padding: 5px 11px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        }
    .mybutton:hover {
        background-color:#f53939;
    }
    .mybutton:active{
        background-color: #f51313;
    }
    </style>
</head>

<body>
        <table class="w3-table-all w3-hoverable">
        <thead>
                <tr class="w3-light-grey">
                <th></th>
                <th>UserID</th>

                <th>startTime</th>
                <th>endTime</th>
                <th>typeChange</th>
                <th>leverTested</th>

                <th>TotalA</th>
                <th>TotalC</th>
                <th>labelA</th>
                <th>labelC</th>
                <th>findwrongA</th>
                <th>findWrongC</th>
                <th>typeWords</th>
                <th>typeWordsC</th>
                <th>findImage</th>
                <th>findImageC</th>
                <th>wrongWordA</th>
                <th>wrongWordC</th>
                <th>descOthersA</th>
                <th>descOthersC</th>
                <th>connectsA</th>
                <th>connectC</th>
                <th>belongsA</th>
                <th>belongsC</th>
                <th>specificA</th>
                <th>specificC</th>
                <th>noPatternA</th>
                <th>noPatternC</th>
                <th>findPatternA</th>
                <th>findPatternC</th>
                <th>finishWordA</th>
                <th>finishWordC</th>
                <th>AVGResTime (sec)</th>
                <th>timeEstimate</th>
                <th>timeFeel</th>
                <th>musicPlayed</th>
                <th>musicAffect</th>

                <th>volume</th>
                <th>enjoyment</th>
                <th>anxiety</th>
                <th>challenge</th>
                <th>comfort</th>
                <th>recentExp</th>

                <th>repetitive</th>
                <th>motivating</th>
                <th>engaging</th>
                <th>distraction</th>
                <th>timePressure</th>
                <th>timeAwareness</th>
                <th>emotion</th>

                <th>educationLevel</th>
                <th>maritalStatus</th>
                <th>gender</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody style="border: 1px solid black;">
            <% for(var i = 0; i < mainData.length; i++) {%>
            <tr>
                
                <td style="text-align:center;">
                    <form action="/DeleteMain/<%= mainData[i].userID%>" method="post">
                        <input type="submit" name="Delete" value="Delete" class="mybutton" />
                    </form>
                </td>
                <td><%= mainData[i].userID %></td>

                <td><%= mainData[i].startTime %></td>
                <td><%= mainData[i].endTime %></td>
                <td><%= mainData[i].typeChange %></td>
                <td><%= mainData[i].leverTested %></td>


                <td><%= mainData[i].allA %></td>
                <td><%= mainData[i].allC %></td>
                <td><%= mainData[i].labelA %></td>
                <td><%= mainData[i].labelC %></td>
                <td><%= mainData[i].findWrongA %></td>
                <td><%= mainData[i].findWrongC %></td>
                <td><%= mainData[i].typeWordsA %></td>
                <td><%= mainData[i].typeWordsC %></td>
                <td><%= mainData[i].findImageA %></td>
                <td><%= mainData[i].findImageC %></td>
                <td><%= mainData[i].wrongWordA %></td>
                <td><%= mainData[i].wrongWordC %></td>
                <td><%= mainData[i].descOthersA %></td>
                <td><%= mainData[i].descOthersC %></td>
                <td><%= mainData[i].connectsA %></td>
                <td><%= mainData[i].connectsC %></td>
                <td><%= mainData[i].belongsA %></td>
                <td><%= mainData[i].belongsC %></td>
                <td><%= mainData[i].specificA %></td>
                <td><%= mainData[i].specificC %></td>
                <td><%= mainData[i].noPatternA %></td>
                <td><%= mainData[i].noPatternC %></td>
                <td><%= mainData[i].findPatternA %></td>
                <td><%= mainData[i].findPatternC %></td>
                <td><%= mainData[i].finishWordA %></td>
                <td><%= mainData[i].finishWordC %></td>
                <td><%= mainData[i].avgResTime %></td>
                <td><%= mainData[i].timeEstimate %></td>
                <td><%= mainData[i].timeFeel %></td>
                <td><%= mainData[i].musicPlayed %></td>
                <td><%= mainData[i].musicAffect %></td>

                <td><%= mainData[i].volume %></td>
                <td><%= mainData[i].enjoyment %></td>
                <td><%= mainData[i].anxiety %></td>
                <td><%= mainData[i].challenge %></td>
                <td><%= mainData[i].comfort %></td>
                <td><%= mainData[i].recentExp %></td>

                <td><%= mainData[i].repetitive %></td>
                <td><%= mainData[i].motivating %></td>
                <td><%= mainData[i].engaging %></td>
                <td><%= mainData[i].distraction %></td>
                <td><%= mainData[i].timePressure %></td>
                <td><%= mainData[i].timeAwareness %></td>
                <td><%= mainData[i].emotion %></td>

                <td><%= mainData[i].educationLevel %></td>
                <td><%= mainData[i].maritalStatus %></td>
                <td><%= mainData[i].gender %></td>
                <td><%= mainData[i].age %></td>
                <% }%>
            
        </tbody>
    </table>

    
    <div class="table">

     
    </div>
</body>

</html>